<!DOCTYPE html>
<html>
<head>
    <title>our notes</title>
    <link href="style/style.css" rel="stylesheet" />
    <script src="scripts/jquery-1.7.1.js"></script>
    <script src="scripts/lodash.js"></script>
    <script src="scripts/jquery.tempgauge.js"></script>
    <script src="scripts/jquery.dzpanel.js"></script>
    <script src="scripts/custom.js"></script>
    <script src="scripts/turn.js"></script>
    <script src="scripts/ng/angular.js"></script>
    <script src="scripts/ng/angular-animate.js"></script>
    <script src="scripts/ng/angular-route.js"></script>
    <script src="scripts/ng/angular-touch.js"></script>
    <script src="scripts/ng/app.js"></script>
    <!--if we use the node.js generate bundle we don't need more browser.js-->
    <!--<script src="scripts/react/react.js"></script>-->
    <!--<script src="scripts/react/react-with-addons.js"></script>-->
    <!--<script src="scripts/react/react-dom.js"></script>-->
    <!--<script src="scripts/react/browser.min.js"></script>-->
    <!--<script src=https://cdnjs.cloudflare.com/ajax/libs/immutable/3.7.6/immutable.js></script>-->
    <!--<script src=https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.34.4/es6-shim.min.js></script>-->
    <!--<script src=http://facebook.github.io/draft-js/lib/Draft.js></script>-->
    <!--<script type="text/babel" src="scripts/react/mydraft.js"></script>-->

</head>
<body>
<section class="fix-nav">
    <ul>
        <li class="active"><a href="#temp">库特笔记</a></li>
        <li><a href="#car">车联网</a></li>
        <li><a href="#earth">地球</a></li>
        <li><a href="#ebook">电子书</a></li>
        <li><a href="#angulartest">列表</a></li>
        <li><a href="#iosswitch">开关</a></li>
        <li><a href="#mydraft">富文本</a></li>
    </ul>
</section>
<section class="story1 section" id="temp">
    <div class="main">
        <div class="left">
            <div class="notes-left">
                <p>
                    <div class="title">CuteNotes</div>
                    <p><label><input type="text"></label></p>
                </p>
            </div>
            <div class="notes-left">
                <hr/>
                <p>
                <h3>links</h3>
                摘要
                    <a href="#earth">跳转</a>
                    <button class="btn-panel">显示侧边栏</button>
                </p>
            </div>
        </div>
        <div class="right">

            <div class = "notes-content">
               <div class="tempgauge">33</div>
            </div>

        </div>
    </div>
</section>
<section class="story2 section" id="car">
    <div class="main">
        <img src="image/mul.jpg" style="position:absolute;top:0;left:0;opacity:0.0;width:300px"/>
    </div>
</section>
<section class="story3 section" id="earth">
    <div class="main">
    </div>
</section>
<section class="story4 section" id="ebook">
    <div class="main">
        <div id="magazine">
            <div>hello</div>
            <div><img src="image/bear.png" width="300px"/> </div>
            <div><img src="image/pop01-blur.png" width="400px" height="400px"/> </div>
            <div><div><img src="image/bear.png" width="200px"/> </div></div>
        </div>
    </div>
</section>
<section class="story5 section" id="angulartest">
    <div class="main" ng-app="myapp" ng-controller="mainController">
        <div class="list" ng-repeat="item in list" ng-click="remove($index);">Name:{{item.name}}, Age:{{item.age}}</div>
    </div>
</section>
<section class="story6 section" id="iosswitch">
    <!--http://www.daqianduan.com/4548.html-->
    <div class="main" >
        <div class="iphone">
            <button class="switch"><i class="ball"></i></button>
        </div>
    </div>
</section>
<section class="story7 section" id="mydraft">
    <div class="main" >
        <div id="color-draft">there is no react</div>

        <script src="scripts/react/mycolorpicker.js"></script>
    </div>
</section>

<section class="dz-panel">
    <div class="header">我的panel</div>
    <div class="main">我的内容</div>
    <div class="footer">我的footer</div>
</section>
</body>
</html>
