*{
    margin:0;
    padding:0;   
}

html{
    height:400%;
    position:relative;
}
body {
    height:100%;
}
.section{
    height: 25%;
    position:relative;
    overflow: hidden;
}
.main{
    width:100%;
    height:100%;
}
.story1 .main{
    font-size:0;
    background:#ccffcc;
}
.story1 .main .left{
    width:20%;
    height:100%;
    background:#ccccff;
    display:inline-block;
    font-size:14px;
    vertical-align: top;
    position:relative;
}

.story1 .main .right{
    width:80%;
    height:100%;
    background:#ccffcc;
    display:inline-block;
    font-size:14px;
    vertical-align: top;
    position:relative;
}

.story1 .main .left input{
    width:80%;
}

.story1 .main .left div{
    margin:10px auto;
    border-bottom: 1px solid #cccccc;
}

.story2 {
    background: #006699;
}

.notes-content {
    margin: 28px auto;
    width:80%;
}

.notes-content {
    margin:28px;
}

.notes-left{
    width: 90%;
}

.story3 {
    background: url("../image/pop01-blur.png") no-repeat fixed top;
    background-size: 100% 100%;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s;
}

.trans-animate{
    top: 360px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s;
}

.notes-left .title {
    cursor: pointer;
    line-height: 50px;
    height: 50px;
    font-size: 28px;
    font-weight: bold;
    background: url("../image/bear.png") 0px 0px no-repeat;
    background-size: 50px 50px;
    text-indent: 50px;
}

.fix-nav {
    position: fixed;
    width: 60%;
    margin: 0 auto;
    border: 2px solid #c9c9c9;
    height: 60px;
    top: 20px;
    left: 20%;
    z-index: 10;
    box-shadow: 0 10px 8px;
}

.fix-nav li {
    display: inline-block;
    width: 100px;
    height: 60px;
    line-height: 60px;
    cursor:pointer;
    text-align: center;
    color: #cecece;
}
.fix-nav li:hover {
    color: #ffff99;
}

.fix-nav li.active{
    background:#99ff99;
    color: #ffffff;
}

.fix-nav li a {
    text-decoration: none;
    color:#9c9c9c;
    line-height: 60px;
    height: 60px;
    width: 100%;
    display:block;
}
.story4 .main{
    background: #77ccff;
    padding: 100px 0;
}
#magazine{
    width: 50%;
    height: 80%;
    margin:0 auto;
    border: 1px solid #7f7f7f;
}
#magazine .turn-page{
    background-color:#ccc;
}
.story5 .main{
    background: #efefef;
}
.story5 .main .list{
    border: 1px solid #0099ff;
    -webkit-box-shadow: 2px 2px;
    -moz-box-shadow: 2px 2px;
    box-shadow: 2px 2px;
    padding: 22px;
    cursor: pointer;
}

.story5 .main .list{
    transition: 0.5s linear all;
}

.story5 .main .list.ng-leave{
    opacity: 1;
}
.story5 .main .list.ng-leave-active{
    opacity: 0;
}
.story6 .main{
    background: #ccffcc;
    padding: 120px 0;
}
.story6 .iphone {
    width:271px;
    height:526px;
    background: url('../image/iphone4.png') no-repeat;
    background-color: transparent;
    margin:0 auto;
    padding:0;
    text-align: center;
}
.story6 .iphone .switch{
    margin: 200px auto;
    width:120px;
    height:40px;
    border:none;
    background: #dedede;
    border-radius: 20px 20px;
    cursor:pointer;
    transition: 0.5s linear all;
    position:relative;
}
.story6 .iphone button:focus{
    outline: none;
}
.story6 .iphone .switch.on {
    background: #ffffff;
}

.story6 .iphone .ball{
    width:40px;
    height:40px;
    border-radius: 20px 20px;
    background: #ffffff;
    display: block;
    transition: 0.3s linear all;
    position: absolute;
    left:0;
    top:0;
}
.story6 .iphone .on .ball{
    top:0;
    left:80px;
    background: #33ff33;
}
.story7 .main{
    background: #33ddcc;
    padding:160px 0;
}
#color-draft{
    margin:0 auto;
    padding:0;
    width:80%;
    height: 60%;
    background: #ffffff;
    border:1px solid #333333;
    box-shadow:0 4px 4px;
}
#color-picker{
 position:absolute;
    left:300px;
    top:300px;
}